<% include chunks/head %>
<% include chunks/nav %>

<div class="container">
	
	<!-- Breadcrumb -->
	<ol class="breadcrumb">
	  <li><a href="/home">Home</a></li>
	  <li class="active"><%= categoryname %></li>
	</ol>
	
	<!-- List of posts -->
	<div class="col-xs-12 col-sm-6">
		<h4>Posts</h4>
		<div class="list-group">
			<% posts.forEach(function(item) { %>
			<a href="/home/<%= categoryid %>/<%= item._id %>" class="list-group-item">
				<%= item.title %>
			</a>
			<% }); %>
		</div>
	</div>
</div>

<!--<div>
    <form id="createnewpost" method="post" action="/home/<%= categoryid %>/newpost" role="form">
        <button id="createnewpost" type="submit" class="btn btn-primary">Create New Post</button>
    </form>
</div>-->

<% include chunks/foot %>