<% include chunks/head %>
<% include chunks/nav %>

<div class="container">
	<ol class="breadcrumb">
	  <li class="active">Home</li>
	</ol>
</div>
<div class="container">
	<div class="col-xs-12 col-sm-6">
		<h4>Categories</h4>
		<div class="list-group">
			<% categories.forEach(function(item) { %>
			<a href="/home/<%= item._id %>" class="list-group-item">
				<span class="badge"><%= item.count %></span>
				<%= item.name %>
			</a>
			<% }); %>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h4>Recent Posts</h4>
		<div class="list-group">
			<% recentPosts.forEach(function(item) { %>
			<a href="/home/<%= item.category %>/<%= item._id %>" class="list-group-item">
				<span class="badge"><%= item.date %></span>
				<%= item.title %>
			</a>
			<% }); %>
		</div>
	</div>
</div>
<% if (error) { %>
    <div class="col-xs-12">
        <div class="alert alert-danger"><%= error %></div>
    </div>
<% } %>
<% include chunks/foot %>