<% include chunks/head %>
<% include chunks/nav %>
<div class="container">
	
	<!-- Breadcrumb bar -->
	<ol class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li><a href="/home/<%= categoryid %>"><%= post.category %></a></li>
		<li class="active"><%= post.title %></li>
	</ol>
	
	<!-- Page Header -->
	<div class="page-header">
		<h3><%= post.title %></h3>
	</div>
	
	<!-- Row Containing Post Info + Description -->
	<div class="row">
		
		<!-- Username and post information -->
		<div class="container col-xs-12 col-sm-3">
		
			<h4>Posted by:</h4>
			<p class="lead"><%= post.user %></p>
		
			<h4>Posted on:</h4>
			<p class="lead"><%= post.date %></p>
		
			<h4>View count:</h4>
			<p class="lead"><%= post.views%></p>
			<div class="btn-group-vertical">
				<button class="btn btn-default " href="#" onclick="javascript:window.location.href='mailto:<%=email%>?subject=SLUbay Message about <%=post.title%> from <%=username%>&body=Dear <%=post.user%>, %0D%0A %0D%0A <%=username%> (a fellow SLUbay user) found your post <%=post.title%> to be interesting, so they decided to contact you! The post can be found here: ' + window.location;"><span class="glyphicon glyphicon-send"></span> Contact Post Owner</button>

				<!-- Edit and Delete Buttons  -->
				<%if (editDelete) {%>

				<button type="button" class="btn btn-default btn-lg btn-block dropdown-toggle" data-toggle="dropdown">
				Post Options <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/home/<%= categoryid %>/<%= postid %>/edit">Edit Post</a></li>
					<li><a href="/home/<%= categoryid %>/<%= postid %>/delete">Delete Post</a></li>
				</ul>
			
			<%}%>
			</div>
		</div>

		<!-- Description of post -->
		<div class="col-xs-12 col-sm-9">
			<h4>Description:</h4>
			<p class="text-justify lead"><%= post.description %></p>
			
			
			<div class="panel panel-default">

				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-12">
							<div class="col-sm-6">
								<h4>User Comments</h4>
							</div>
							<div class="col-sm-6 text-right">
 
									<button class="btn btn-default btn-success" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Add Comment</button>
							</div>
						</div>
					</div>
				</div>
					
				<ul class="list-group">
					<%var count = 0%>
					<% comments.forEach(function(item) { %>
						<%count++%>
						
						<li class="list-group-item">
							<h5 class="list-group-item-heading"><%= item.user %>
							<% if (item.user === post.user){ %>
										<span class="label label-success"><span class="glyphicon glyphicon-ok-circle"></span> Post Owner </span>
								<%}%>							
							</h5>
							<p><%= item.textfield %></p>
						</li>
				
						<% }); %>
						<% if (count == 0) {%>
							<li class="list-group-item">No comments to display</li>
							<%}%>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Comment Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="form" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Add a comment</h4>
			</div>
			
				<div class="modal-body">
					<form method="post" action="/home/<%= categoryid %>/<%= postid %>/newcomment" role="form">
						<div class="form-group">
							<textarea name="comment" class ="form-control" rows="4" placeholder="Comment" required></textarea>
						</div>            
						<button id="submitnewcomment" type="submit" class="btn btn-primary">Submit Comment</button>
					</form>
				</div>
		</div>
	</div>
</div>


<% include chunks/foot %>