<% include chunks/head %>
<% include chunks/nav %>

<h3><%= post.title %></h3>
<p><%= post.user %></p>
<p><%= post.category %></p>
<p><%= post.description %></p>
<p><%= post.date %></p>
<p><%= post.views %></p>
<p><%= post.comments %></p>
<form method="post" action="/home/categoryid/postid">
    <textarea name="comment"></textarea>
    <input type= "hidden" name="postid" value= "<%= post._id %>">
    <input type="submit">
</form>node

<% include chunks/foot %>